<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<td><%= link_to 'Edit', edit_article_path(@article) %></td>
<%= link_to 'Back', articles_path %>
